{{extend 'admin.html'}}

  <div class="opciones"> 
        <h3>{{=record.palabra}}</h3>
        <div class="btn-group botones_mostrar" data-toggle="buttons-checkbox">
            <button class="btn btn-info toggle-mostrar-actualizar">
                <span class="mostrar-actualizar"><i class="icon-plus-sign icon-white"></i> Actualizar</span>
                <span class="ocultar-actualizar hide"><i class="icon-minus-sign icon-white"></i> Ocultar</span>
            </button>
           
            <button class="btn btn-info toggle-mostrar-ejemplo">
                <span class="mostrar-ejemplo"><i class="icon-plus-sign icon-white"></i> Mostrar ejemplos</span>
                <span class="ocultar-ejemplo hide"><i class="icon-minus-sign icon-white"></i> Ocultar</span>
            </button>
            <a class="float_right" data-toggle="modal"  href={{=URL('borrar_palabra', args=record.id)}}><i class="icon-trash"></i>Borrar</a>
        </div>
        <div class="wellparley hide" id="mostrar-admin">
           <div>
            {{=form}}
           </div>
        </div>
        <div class="wellparley hide" id="mostrar-ejemplo">
           <div>
            
            <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>{{=IMG(_src=URL('static', 'images/germany.gif'))}}</th>
                            <th>{{=IMG(_src=URL('static', 'images/spain.gif'))}}</th>
                            <th>Fuente</th>
                        </tr>
                    </thead>
                    <tbody>
                       
                        {{for registro in palabra:}}
                           
                        <tr>
                            <td>
                                {{=registro.ejemplo_de}}
                            </td>
                            <td>
                                {{=registro.ejemplo_es}}
                               
                            </td>
                               
                            <td>
                                 {{if registro.fuente:}}
                                    {{=registro.fuente.nombre}}
                                {{pass}}
                            </td>
                        </tr>
                        {{pass}}
                    </tbody>
                </table>
           </div>
        </div>
  </div>
  


{{#=response.toolbar()}}

          
        
